In [46]:
import pandas as pd

In [106]:
df = pd.read_csv('./assets/cities.csv')

df['Date'] = pd.to_datetime(df['Date'], unit='s')

df['Date'] = df['Date'].dt.date



df.set_index('City_ID', inplace=True)

df.index.name = None

df.rename(index={0: "City_ID"})

df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,jacareacanga,0,BR,2018-06-13,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,2018-06-13,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,2018-06-13,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,2018-06-13,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,2018-06-13,88,70.62,147.90,32.17,2.95

In [102]:
print(dr.to_html())

NameError: name 'dr' is not defined